#root,body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #c7c6db;
}

.hr-bold {
  height: 5px;
}

.px-border {
 border: 1px solid rgb(124, 96, 96) !important;
}

.login{
 width: 450px;
 height: 500px; 
}

.login-shadow {
  box-shadow: 11px 2px 21px 26px #e8e1e1;
}

.sidebar {
  background-color: white;
}

.sidebar-tab {
  color: #b9b8b8;
}

.sidebar-tab:hover {
  color: #df7e7e;
  background-color: rgb(209, 209, 209);
}

.sidebar-tab-active {
  background-color: #df7e7e;
  color: white !important;
}

.pwd-show-btn {
  top: 13px;
  right: 10px;
}

.outline-none {
  outline: none;
}

.breadcrumb-item-color {
  color: #b9b8b8;
}

.border-1px {
  border: 1px solid grey;
}

.profile-img {
  backdrop-filter: hue-rotate(90deg);
}
